<div class="row">
	<div class="col-xs-5 {%- if doc.align_labels_right %} text-right{%- endif -%}">
		<label>{{ _(df.label) }}</label></div>
	<div class="col-xs-7 text-right">
		{{ doc.get_formatted("grand_total", doc) }}
	</div>
</div>
