<div class="stock-levels">
	<div class="result">
	</div>
	<div class="more hidden" style="padding: 15px;">
		<a class="btn btn-default btn-xs btn-more">More</a>
	</div>
</div>

<style>
	.stock-levels {
		box-shadow: var(--card-shadow);
		padding: var(--padding-sm);
		background-color: var(--card-bg);
	}
</style>