{% extends "payments/www/me.html" %}


{% block account_content %}
<div class="col d-flex justify-content-between align-items-center">
	<span>
		<div class="my-account-item">{{_("Manage my addresses") }}</div>
		<div class="my-account-item-desc">{{_("Modify or delete your addresses") }}</div>
	</span>
	<span class="my-account-item-link">
		<a href="/address">
			<svg class="right-icon icon icon-md">
				<use xlink:href="#icon-right">
				</use>
			</svg>
			<span class="item-link-text">{{_("See your addresses") }}</span>
		</a>
	</span>
</div>
{{ super() }}
{% endblock %}
